# requirements.txt Django 3.1 + Python 3.7
# Pipenv 開発環境（Django 及び Python) moduleすべて入れ込み
django==3.0.7
djangorestframework==3.8.2
django-filter
django-debug-toolbar
django-maintenance-mode
django-environ==0.4.5
django-extensions==2.2.9
django-widget-tweaks==1.4.8
django-imagekit==4.0.2
django-extra-views
django-bootstrap4
djangorestframework-simplejwt==4.3.0
djoser==2.0.3
django-cors-headers==3.1.0
dj-database-url
django-pandas
djangorestframework-jwt
django-crontab
mysqlclient==2.0.3
mysql-connector-python==8.0.22
PyMySQL==1.0.2
Mako==1.1.4
Jinja2==2.11.3
confile==1.4
numpy==1.19.4
pandas==1.1.5
python-decouple==3.3
pyJWT==1.7.1
cycler==0.10.0
iniconfig==1.1.1
openpyxl==3.0.7
pathlib2==2.3.5
pytz==2021.1
PyYAML==5.4.1
scipy==1.5.4
japanize-matplotlib==1.1.3
imagesize==1.2.0
sqlalchemy==1.3.20
scipy==1.5.4
selenium==3.141.0
seqdiag==2.0.0
setuptools==51.0.0
six==1.15.0
whitenoise==4.0
cftime==1.4.1
PyYAML==5.4.1
pytest==6.2.1
parameterized==0.7.4
Sphinx==3.5.4
sphinx-rtd-theme==0.5.2
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-seqdiag==2.0.0
sphinxcontrib-serializinghtml==1.1.4
toml==0.10.2
urllib3==1.26.4
xlrd==1.2.0
zipp==3.4.1
lxml==4.6.3
uwsgi==2.0.17
apscheduler
django-cleanup
markdown
gunicorn
psycopg2-binary
pypdf2
pillow
kiwisolver
python-dateutil
pyparsing
autopep8
pylint