[client]                           # clientセクション: mysqlクライアントツールへの設定
# port=XXXX
# socket=/tmp/mysql.sock
default-character-set=utf8

[mysqld]                           # mysqldセクション: mysqlサーバーへの設定
# port=XXXX
# socket=/tmp/mysql.sock
# key_buffer_size=16M
character-set-server=utf8
collation-server=utf8_general_ci
max_allowed_packet=128M

[mysqldump]                        # mysqldumpセクション: バックアップコマンドへの設定
# quick

[mysqld_safe]                      # mysqld_safeセクション: 起動ファイル設定
# log-error=/var/log/mysqld.log
# pid-file=/var/run/mysqld/mysqld.pid